<!-- Sub copy -->
<table class="body-sub">
  <tr>
    <td>
      <p class="sub">If you're having trouble with reading the email above or you should not be receiving this email, let us know.</p>
    </td>
  </tr>
</table>
