---
layout: layout.hbs
subject: "You just received an SMS!"
preheader: "You just received an SMS"
---
<table class="email-content" width="100%" cellpadding="0" cellspacing="0">

  {{> masthead }}

  <!-- Email Body -->
  <tr>
    <td class="email-body" width="100%" cellpadding="0" cellspacing="0">
      <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0">

        <!-- Body content -->
        <tr>
          <td class="content-cell">

            <h1>Hi, there!</h1>

            <p>You just received an SMS and here are the details below:</p>

            <table class="attributes" width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td class="attributes_content">
                  <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="attributes_item"><strong>From:</strong> ${SMSMESSAGEFROM}</td>
                    </tr>
                    <tr>
                      <td class="attributes_item"><strong>To:</strong> ${SMSMESSAGETO}</td>
                    </tr>
                    <tr>
                      <td class="attributes_item"><strong>Message:</strong> ${SMSMESSAGEBODY}</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>

            <p>If you have any questions, feel free to <a href="mailto:support@voxo.co">email our customer success team</a>. (We're lightning quick at replying.) We also offer live chat on our website.</p>

            <p>Thanks,<br>From the VOXO Team</p>

            {{> button_trouble }}

          </td>
        </tr>
      </table>
    </td>
  </tr>

  {{> footer }}

</table>
