---
layout: layout.hbs
subject: "Welcome to VOXO, ${NAME}!"
preheader: "Thanks for trying out <%= product_name %>. We’ve pulled together some information and resources to help you get started."
---
<table class="email-content" width="100%" cellpadding="0" cellspacing="0">

  {{> masthead }}

  <!-- Email Body -->
  <tr>
    <td class="email-body" width="100%" cellpadding="0" cellspacing="0">
      <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0">

        <!-- Body content -->
        <tr>
          <td class="content-cell">

            <h1>Hi, ${NAME}!</h1>

            <p>You've been invited to use the VOXO Portal as an admin on behalf of your company.</p>

            <p>Here are the details below:</p>

            <table class="attributes" width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td class="attributes_content">
                  <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="attributes_item"><strong>URL:</strong> <a href="https://portal.voxo.co" target="_blank">https://portal.voxo.co</a></td>
                    </tr>
                    <tr>
                      <td class="attributes_item"><strong>Username:</strong> ${USERNAME}</td>
                    </tr>
                    <tr>
                      <td class="attributes_item"><strong>Password:</strong> ${PASSWORD}</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>

            <p>We recommend you change this password before logging in. To do this, go to the URL above and click <strong>Change Password</strong> on the login page and enter the new details</p>

            <p>If you have any questions, feel free to <a href="mailto:support@voxo.co">email our customer success team</a>. (We're lightning quick at replying.) We also offer live chat on our website.</p>

            <p>Thanks,<br>From the VOXO Team</p>

            {{> button_trouble }}

          </td>
        </tr>
      </table>
    </td>
  </tr>

  {{> footer }}

</table>
