---
layout: layout.hbs
subject: "Welcome to <%= product_name %>, {{name}}!"
preheader: "Thanks for trying out <%= product_name %>. We’ve pulled together some information and resources to help you get started."
---
<table class="email-content" width="100%" cellpadding="0" cellspacing="0">

  {{> masthead }}

  <!-- Email Body -->
  <tr>
    <td class="email-body" width="100%" cellpadding="0" cellspacing="0">
      <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0">

        <!-- Body content -->
        <tr>
          <td class="content-cell">

            <h1>Welcome, \{{name}}!</h1>

            <p>VOXO is a unified communications solution that will help you work more effectively. Besides using your office extension from your deskphone, you can take calls from anywhere using the softphones for iOS, Android, Mac and Windows.</p>

            <p>VOXO also includes web conferencing which will allow you to easily create on-demand face-to-face meetings.</p>

            <h1>Your VOXO Extension</h1>

            <ul>
              <li>Your extension number is <strong>1001</strong></li>
              <li>You can retrieve your voice mail by dialing <strong>*97</strong></li>
              <li>You can record a personalized greeting by following the voice prompts in your mailbox</li>
            </ul>

            <h1>Using the VOXO Desktop App</h1>

            <p>With the VOXO Desktop App you don’t need to install any software. To access it:</p>

            <table class="attributes" width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td class="attributes_content">
                  <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="attributes_item"><strong>URL:</strong> <a href="https://webclient.voxo.co" target="_blank">https://webclient.voxo.co</a></td>
                    </tr>
                    <tr>
                      <td class="attributes_item"><strong>Username:</strong> 1001</td>
                    </tr>
                    <tr>
                      <td class="attributes_item"><strong>Password:</strong> 84JFfs82K</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>

            <p>To install the app on your computer click one of the links below:</p>

            <ul>
              <li><a href="https://windowsdownload.com" target="_blank">Windows</a></li>
              <li><a href="https://macdownload.com" target="_blank">Mac</a></li>
            </ul>

            <p>Using the <a href="https://chromeweblink.com">VOXO Quick Dial Chrome Plugin</a> you can call numbers directly from any webpage or CRM.</p>

            <h1>Using the VOXO Mobile App</h1>

            <p>With the VOXO mobile app you can make and receive calls, view the presence of your colleagues, transfer calls with a click and chat with one another.</p>

            <ul>
              <li><a href="https://android.com" target="_blank">Android</a></li>
              <li><a href="https://ios.com" target="_blank">iOS</a></li>
            </ul>

            <p>After installing the iOS or Android app, see the details below for signing in</p>

            <ul>
              <li>If you a viewing this email on your mobile device and have already downloaded the app, <a href="csc://1001:84JFfs82K@VOXO">Click here to sign in</a></li>
              <li>If you are viewing this email on your PC, open your mobile app on your phone and <a href="https://api.qrserver.com/v1/create-qr-code/?size=350x350&data=1001:84JFfs82K@VOXO" target="_blank">Click Here to see your QR Code</a></li>
            </ul>

            <h1>Using VOXO Meet</h1>

            <p>You can send customers and colleagues your personal Meeting URL and arrange on-demand or scheduled web meetings.</p>

            <!-- Action -->
            <table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td align="center">
                  {{> button label="Checkout VOXO Meet" target_url="https://meet.voxo.co/84JFfs82K" }}
                </td>
              </tr>
            </table>

            <p>For reference, here's your personal meeting URL to share with others:</p>

            <table class="attributes" width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td class="attributes_content">
                  <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="attributes_item"><strong>Meeting URL:</strong> <a href="https://meet.voxo.co/84JFfs82K" target="_blank">https://meet.voxo.co/84JFfs82K</a></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>

            <p>Using the <a href="https://chrome.google.com/webstore/detail/voxo-meet/enbobpnfcaohmdnjcpdjphkemkaemlil" target="_blank">VOXO Meet Chrome Plugin</a> you can schedule meetings in GSuite and Office 365.</p>

            <p></p>

            <h3>Learn more about these products</h3>

            <ul>
              <li><a href="https://medium.com/voxo-llc/introducing-the-new-voxo-meet-615178d719ed" target="_blank">VOXO Meeet</a></li>
              <li><a href="https://s3.amazonaws.com/miscdts/quickstart-guide.pdf" target="_blank">Your deskphone</a></li>
              <li><a href="http://youtube.voxo.co" target="_blank">Watch How-to's on our YouTube channel</a></li>
            </ul>

            <p>If you have any questions, feel free to <a href="mailto:support@voxo.co">email our customer success team</a>. (We're lightning quick at replying.) We also offer live chat on our website.</p>

            <p>Thanks,<br>From the VOXO Team</p>

            {{> button_trouble }}

          </td>
        </tr>
      </table>
    </td>
  </tr>

  {{> footer }}

</table>
